<nav class="navbar">
    <div class="logo-name">
        <img src="/images/logo.jpg" alt="Logo" class="logo">
        <span class="brand-name">StockTrade</span>
    </div>
    <div class="menu">
        <ul class="menu-items">
            <% if (user) { %>
                <li><a href="/dashboard" class="btn">Dashboard</a></li>
                <li><a href="/logout" class="btn">Logout</a></li>
            <% } else { %>
                <li><a href="/login" class="btn">Login</a></li>
                <li><a href="/signup" class="btn">Signup</a></li>
            <% } %>
        </ul>
        <!-- Hamburger Menu for Mobile -->
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- Hamburger Menu Links -->
    <div class="mobile-menu" id="mobile-menu">
        <ul>
            <% if (user) { %>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/">Home</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/login">Login</a></li>
            <% } %>
            <li><a href="javascript:void(0)" id="close-menu">Close</a></li>
        </ul>
    </div>
</nav>


